<% content_for(:page_header) { t(".page_header") } %>

<div class="govuk-width-container"><br>
  <h1 class="govuk-heading-xl"><%= t(".heading") %></h1>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <ul>
    <% @trusts.each do |trust| %>
      <li>
        <%=
            link_to(
                trust.trust_name,
                search_outgoing_trust_incoming_trusts_path(
                  params[:outgoing_trust_id],
                  "input-autocomplete" => trust.trust_name,
                  commit: t("incoming_trusts.index.add_trust")
                )
             )
        %>
      </li>
    <% end %>
  </div>
</div>
