<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body"><%= t(".new_academy_transfer") %></p>
    <p><%= link_to t(".new_academy_transfer_button"), trusts_url, class: "govuk-button", data: { turbolinks: false } %>
  </div>
</div>
